<h3 class="display-6">{{ question }}</h3>

<form *ngIf="!voted" [formGroup]="voteForm" (ngSubmit)="submitForm()">
  <div class="form-check" *ngFor="let opt of options; let i = index">
    <label class="form-check-label lead">{{opt}}
      <input
      type="radio"
      class="form-check-input"
      formControlName="selected"
      [value]="i"
      />
    </label>
  </div>

  <button type="submit" class="btn btn-outline-success mt-3" [disabled]="!voteForm.valid">Submit Vote</button>
</form>

<div *ngIf="voted" id="poll-results"></div>


