<form [formGroup]="pollForm" (ngSubmit)="submitForm()" class="container col-sm-4">
  <div class="form-group row">
    <label class="col-sm-2">
      <kbd>Question:</kbd>
    </label>
    <div class="col-sm-12"><br>
      <input
        formControlName="question"
        type="text"
        class="form-control form-control-sm"
        placeholder="Poll Question"
      />
    </div>
  </div>

  <br>

  <div class="form-group row">
    <label class="col-sm-2">
      <kbd>Image:</kbd>
    </label>
    <div class="col-sm-12"><br>
      <input
      formControlName="image"
        type="text"
        class="form-control form-control-sm"
        placeholder="Image URL"
      />
    </div>
  </div>

  <br>

  <div class="form-group row">
    <label class="col-sm-2">
      <kbd>Options:</kbd>
    </label>
    <div class="col-sm-12"><br>
      <input
      formControlName="op1"
        type="text"
        class="form-control form-control-sm"
        placeholder="Option 1"
      />
    </div>
  </div>

  <br>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">

    </label>
    <div class="col-sm-12">
      <input
      formControlName="op2"
        type="text"
        class="form-control form-control-sm"
        placeholder="Option 2"
      />
    </div>
  </div>

  <br>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">

    </label>
    <div class="col-sm-12">
      <input
      formControlName="op3"
        type="text"
        class="form-control form-control-sm"
        placeholder="Option 3"
      />
    </div>
  </div>

  <br>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">

    </label>
    <div class="col-sm-12">
      <input
      formControlName="op4"
        type="text"
        class="form-control form-control-sm"
        placeholder="Option 4"
      />
    </div>
  </div>

  <br>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success btn-sm">Submit Poll</button>
  </div>

  <br>

</form>
